/* 共通 */

body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  background-color: #ececec;
}

h1, h2 {
  margin: 0;
}

.error {
  font-size: 70%;
	color: #BB1850;
}

a {
  text-decoration: none;
  display: inline-block;
}

.fas {
  margin-right: 5px;
}

/* 共通 */

/* header */

header {
  height: 65px;
  width: 100%;
  background-color: rgb(35, 57, 73);
  position: fixed;
  top: 0;
  z-index: 1;
}

.header-left {
  float: left;
  width: 30%;
  line-height: 65px;
  padding-left: 40px;
  color: #fff;
}

.header-right {
  float: right;
  width: 30%;
  line-height: 65px;
}

.header-right a {
  float: right;
  margin-right: 40px;
  color: #fff;
}

.header-right a:hover {
  opacity: .3;
}

/* header */

