/* 共通 */

body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  background-color: #ececec;
}

h1, h2 {
  margin: 0;
}

.error {
  font-size: 70%;
	color: #BB1850;
}

a {
  text-decoration: none;
  display: inline-block;
}

.fas {
  margin-right: 5px;
}

/* 共通 */

/* header */

header {
  height: 65px;
  width: 100%;
  background-color: rgb(35, 57, 73);
  position: fixed;
  top: 0;
  z-index: 1;
}

.header-left {
  float: left;
  width: 30%;
  line-height: 65px;
  padding-left: 40px;
  color: #fff;
}

.header-right {
  float: right;
  width: 30%;
  line-height: 65px;
}

.header-right a {
  float: right;
  margin-right: 40px;
  color: #fff;
}

.header-right a:hover {
  opacity: .3;
}

/* header */

/* container */

.container {
  width: 600px;
  margin: 125px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  color: #494949;
}

.container > h1 {
  text-align: center;
  border-bottom: solid 3px rgb(114, 173, 196);
  position: relative;
  font-size: 24px;
  margin: 0 auto;
  width: 160px;
}

.container > h1::after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px rgb(35, 57, 73);
  bottom: -3px;
  width: 30%;
}

.gray {
  color: grey;
  font-size: 14px;
  margin: 20px 0;
}

.container h2 {
  padding: 0.25em 0.5em;
  color: #494949;
  background: transparent;
  border-left: solid 5px rgb(35, 57, 73);
  font-size: 20px;
}

.content {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.content-left {
  width: 200px;
}

.content-right input {
  margin-top: 7px;
  float: right;
  width: 400px;
  padding: 4px 4px;
}

.btn {
  background-color: rgb(35, 57, 73);
  color: #fff;
  padding: 10px 30px;
  font-size: 14px;
  border: none;
  display: block;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px auto 0;
}

.btn:hover {
  background-color: rgb(112, 125, 134);
}

.check-content {
  line-height: 45px;
}

.check-content > p {
  margin: 0;
}

.btn-login {
  margin: 30px auto 0;
  text-align: center;
  border-radius: 10px;
  padding: 10px 30px;
  color: #fff;
  width: 100px;
  display: block;
  background-color: rgb(35, 57, 73);
}

.btn-login:hover {
  background-color: rgb(112, 125, 134);
}

/* container */

